@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto&display=swap');
@font-face {
    font-family: norse;
    src: url(fonts/NorseBold-2Kge.otf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* --primary-color: #0c2022;
    --secondary-color: #69B7BF;
    --background-color: #0D0D0D; */
    --primary-color: rgb(7, 39, 45);
    --secondary-color: rgb(64, 193, 172);
    --background-color: rgb(2, 19, 22);
    --width: 70rem;
    --border-radius: .5rem;
    --norseFont: norse, 'Kdam Thmor Pro', 'Roboto', sans-serif;
}

body {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Kdam Thmor Pro', 'Roboto', sans-serif;
    /* font-size: .8rem; */
    /* font-size: min(.8rem, 1vw); */
    font-size: clamp(.6rem, 1vw, 0.8rem);
    letter-spacing: 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

h1,
legend {
    font-family: var(--norseFont);
    font-size: clamp(1.7rem, 5vw, 2.4rem);
    padding-bottom: 1rem;
    letter-spacing: 0.3rem;
}

.cardContainer {
    /* border: var(--secondary-color) solid 3px; */
    border-radius: var(--border-radius);
    width: clamp(20rem, 70vw, 70rem);
    height: fit-content;
    display: flex;
    -webkit-box-shadow: 0px 0px 28px 5px var(--secondary-color);
    -moz-box-shadow: 0px 0px 28px 5px var(--secondary-color);
    box-shadow: 0px 0px 28px 5px var(--secondary-color);
    margin: 7rem 0;
}

.section {
    border-radius: inherit;
}

.left img {
    max-height: 718px;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.right {
    background-color: var(--primary-color);
    width: 100%;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    padding: clamp(1.5rem, 2vw, 3rem);
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media only screen and (max-width: 1300px) {
    .left img {
        display: none;
    }
    .cardContainer {
        background-image: url(img/tree.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
}

p,
li {
    line-height: 2;
    max-width: 72ch;
}

li {
    list-style-type: circle;
    margin-left: 1.1rem;
}

form {
    margin: 1rem 0 1rem;
}

fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
}

legend {
    padding: 0 0 1rem 0;
    font-weight: bold;
}

.formInput {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.7rem;
    width: 50%;
    position: relative;
}

input:not([type='checkbox']) {
    margin: 0;
    padding: .5rem;
    width: 80%;
    height: 1.8rem;
    border: var(--secondary-color) solid 2px;
    border-radius: 0.1rem;
    background-color: var(--secondary-color);
}

input:active,
input:focus {
    border: var(--primary-color) solid 2px;
    border-radius: 0.1rem;
    outline: none;
    -webkit-box-shadow: 0px 0px 10px 0px var(--secondary-color);
    -moz-box-shadow: 0px 0px 10px 0px var(--secondary-color);
    box-shadow: 0px 0px 10px 0px var(--secondary-color);
}

.invalid {
    -webkit-box-shadow: 0px 0px 10px 0px red;
    -moz-box-shadow: 0px 0px 10px 0px red;
    box-shadow: 0px 0px 10px 0px red;
}

label,
.errorMsg {
    font-size: clamp(.4rem, 1vw, .6rem);
    padding-bottom: 0.3rem;
    letter-spacing: 0.2rem;
    z-index: 5;
}

.errorMsg {
    color: red;
    letter-spacing: 0.1rem;
}

.checkbox {
    flex-direction: row;
    align-items: center;
    padding-top: .5rem;
    width: 100%;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    width: 1.15rem;
    height: 1.15rem;
    background-color: var(--secondary-color);
    border-radius: 0.1rem;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: var(--primary-color);
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:active,
input[type="checkbox"]:focus {
    border: none;
}

input[type='checkbox']+label {
    padding: 0 0 .15rem .5rem;
    text-transform: uppercase;
}

.eyeIcon {
    position: absolute;
    width: 1.3rem;
    cursor: pointer;
    bottom: 30px;
    z-index: 10;
    opacity: .8;
}

.hidden {
    visibility: hidden;
}

button {
    background-color: var(--secondary-color);
    border: none;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-family: var(--norseFont);
    width: calc(var(--width)/6);
    height: calc(var(--width)/25);
}

.bottomSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.helper {
    text-align: right;
    margin-right: 4rem;
}

@media only screen and (max-width: 750px) {
    .bottomSection {
        flex-direction: column;
        align-items: flex-start;
    }
    .helper {
        text-align: left;
        padding-top: 1rem;
    }
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.footer {
    background-color: var(--primary-color);
    padding: 1rem 0;
    font-size: 1.2rem;
    font-family: var(--norseFont);
    width: 100%;
    text-align: center;
    letter-spacing: 0.1rem;
    position: absolute;
    bottom: 0;
    -webkit-box-shadow: 0px 0px 28px 5px var(--secondary-color);
    -moz-box-shadow: 0px 0px 28px 5px var(--secondary-color);
    box-shadow: 0px 0px 28px 5px var(--secondary-color);
    opacity: 0.9;
}

#popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 1rem;
}

.popuptext {
    visibility: hidden;
    width: 13rem;
    background-color: var(--background-color);
    font-size: .6rem;
    color: #fff;
    text-align: center;
    border-radius: var(--border-radius);
    padding: .5rem .7rem;
    position: absolute;
    z-index: 20;
    bottom: 125%;
    margin-left: -110px;
    animation: fadeOut 1s;
}

.popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--background-color) transparent transparent transparent;
}

.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}